# Copyright (C) 2016 Colin Watson <cjwatson@debian.org>
#  
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#  
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#  
# You should have received a copy of the GNU General Public License
# along with this program; if not, see <http://www.gnu.org/licenses/>.

# Default channels for TeleGNOME, which will be used if no channels are
# currently configured.  Keep these in order of the English country name.
# To reset all configuration including channels to default values, run:
#   dconf reset -f /org/gnome/telegnome/

[cz]
Name=Teletext ČT, Czech Republic
Description=Czech teletext
PageURL=http://www.ceskatelevize.cz/services/teletext/picture.php?channel=CT1&page=%03d
Country=cz

[fi-yle]
Name=YLE Teksti-TV, Finland
Description=Finnish teletext (YLE)
PageURL=http://www.yle.fi/tekstitv/images/P%03d_01.gif
SubpageURL=http://www.yle.fi/tekstitv/images/P%03d_%02d.gif
Country=fi

[fi-mtv]
Name=MTV3 Tekstikanava, Finland
Description=Finnish teletext (MTV3)
PageURL=http://www.mtvtekstikanava.fi/new2008/images/%03d-01.gif
SubpageURL=http://www.mtvtekstikanava.fi/new2008/images/%03d-%02d.gif
Country=fi

[hu]
Name=MTV1, Hungary
Description=Hungarian teletext
PageURL=http://www.teletext.hu/mtv1/images/%03d-01.gif
SubpageURL=http://www.teletext.hu/mtv1/images/%03d-%02d.gif
Country=hu

[it]
Name=Televideo RAI, Italia
Description=Televideo (RAI)
PageURL=http://www.servizitelevideo.rai.it/televideo/pub/tt4web/Nazionale/16_9_page-%03d.png
SubpageURL=http://www.servizitelevideo.rai.it/televideo/pub/tt4web/Nazionale/16_9_page-%03d.%d.png
Country=it

[gb]
Name=Ceefax, United Kingdom
Description=UK teletext (BBC)
PageURL=http://www.ceefax.tv/cgi-bin/gfx.cgi?page=%03d_0&font=big&channel=bbc1
SubpageURL=http://www.ceefax.tv/cgi-bin/gfx.cgi?page=%03d_%d&font=big&channel=bbc1
Country=gb
